In [ ]:
import pandas as pd
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
import os
import time
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [ ]:
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(application_df[['EIN', 'NAME']], axis=1, inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Determine the number of unique values in each column.
unique_counts = application_df.nunique()
unique_counts

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
APPLICATION_TYPE= application_df['APPLICATION_TYPE'].value_counts()
APPLICATION_TYPE

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value= 400
application_types_to_replace = APPLICATION_TYPE[APPLICATION_TYPE < cutoff_value].index.tolist()
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
CLASSIFICATION_COUNTS= application_df.CLASSIFICATION.value_counts()
CLASSIFICATION_COUNTS

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
CLASSIFICATION_COUNTS_e_1=CLASSIFICATION_COUNTS[CLASSIFICATION_COUNTS >1]
CLASSIFICATION_COUNTS_e_1.head()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value_classification = 1000
classifications_to_replace = CLASSIFICATION_COUNTS[CLASSIFICATION_COUNTS< cutoff_value_classification].index.tolist()
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_encoded = pd.get_dummies(application_df)
application_df_encoded.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [ ]:
# Split our preprocessed data into our features and target arrays
y= application_df_encoded["IS_SUCCESSFUL"].values
X= application_df_encoded.drop(["IS_SUCCESSFUL"], axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(25724, 43) (8575, 43) (25724,) (8575,)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

NameError: ignored

NameError: ignored

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=70, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=25, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 70)                3080

 dense_1 (Dense)             (None, 25)                1775

 dense_2 (Dense)             (None, 1)                 26

=================================================================
Total params: 4,881
Trainable params: 4,881
Non-trainable params: 0
_________________________________________________________________

In [ ]:
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [51]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50, validation_split=0.2)

Epoch 1/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5334 - accuracy: 0.7430 - val_loss: 0.5701 - val_accuracy: 0.7215
Epoch 2/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5331 - accuracy: 0.7434 - val_loss: 0.5674 - val_accuracy: 0.7217
Epoch 3/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5333 - accuracy: 0.7435 - val_loss: 0.5683 - val_accuracy: 0.7230
Epoch 4/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7429 - val_loss: 0.5693 - val_accuracy: 0.7240
Epoch 5/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5331 - accuracy: 0.7441 - val_loss: 0.5678 - val_accuracy: 0.7232
Epoch 6/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5334 - accuracy: 0.7430 - val_loss: 0.5689 - val_accuracy: 0.7246
Epoch 7/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5329 - accuracy: 0.7436 - val_loss: 0.5681 - val_accuracy: 0.7236
Epoch 8/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5331 - accuracy: 0.7438 - val_loss: 0.5685 - val_accuracy: 0.7240
Epoch 9/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5327 - accuracy: 0.7437 - val_loss: 0.5702 - val_accuracy: 0.7244
Epoch 10/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5329 - accuracy: 0.7438 - val_loss: 0.5699 - val_accuracy: 0.7242
Epoch 11/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5328 - accuracy: 0.7429 - val_loss: 0.5690 - val_accuracy: 0.7226
Epoch 12/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5331 - accuracy: 0.7432 - val_loss: 0.5689 - val_accuracy: 0.7228
Epoch 13/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5330 - accuracy: 0.7422 - val_loss: 0.5691 - val_accuracy: 0.7246
Epoch 14/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5326 - accuracy: 0.7435 - val_loss: 0.5728 - val_accuracy: 0.7230
Epoch 15/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5332 - accuracy: 0.7445 - val_loss: 0.5694 - val_accuracy: 0.7244
Epoch 16/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5330 - accuracy: 0.7436 - val_loss: 0.5701 - val_accuracy: 0.7254
Epoch 17/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5328 - accuracy: 0.7430 - val_loss: 0.5694 - val_accuracy: 0.7250
Epoch 18/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5327 - accuracy: 0.7437 - val_loss: 0.5710 - val_accuracy: 0.7236
Epoch 19/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5330 - accuracy: 0.7436 - val_loss: 0.5713 - val_accuracy: 0.7230
Epoch 20/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5326 - accuracy: 0.7435 - val_loss: 0.5701 - val_accuracy: 0.7242
Epoch 21/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5328 - accuracy: 0.7428 - val_loss: 0.5706 - val_accuracy: 0.7236
Epoch 22/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5329 - accuracy: 0.7429 - val_loss: 0.5711 - val_accuracy: 0.7238
Epoch 23/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5323 - accuracy: 0.7434 - val_loss: 0.5708 - val_accuracy: 0.7228
Epoch 24/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5323 - accuracy: 0.7442 - val_loss: 0.5702 - val_accuracy: 0.7223
Epoch 25/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5322 - accuracy: 0.7433 - val_loss: 0.5704 - val_accuracy: 0.7250
Epoch 26/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5329 - accuracy: 0.7429 - val_loss: 0.5724 - val_accuracy: 0.7221
Epoch 27/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7435 - val_loss: 0.5699 - val_accuracy: 0.7252
Epoch 28/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5325 - accuracy: 0.7427 - val_loss: 0.5722 - val_accuracy: 0.7240
Epoch 29/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5324 - accuracy: 0.7439 - val_loss: 0.5705 - val_accuracy: 0.7248
Epoch 30/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5326 - accuracy: 0.7442 - val_loss: 0.5694 - val_accuracy: 0.7236
Epoch 31/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7436 - val_loss: 0.5705 - val_accuracy: 0.7240
Epoch 32/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5322 - accuracy: 0.7437 - val_loss: 0.5733 - val_accuracy: 0.7246
Epoch 33/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5325 - accuracy: 0.7427 - val_loss: 0.5719 - val_accuracy: 0.7230
Epoch 34/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5324 - accuracy: 0.7432 - val_loss: 0.5730 - val_accuracy: 0.7242
Epoch 35/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5322 - accuracy: 0.7432 - val_loss: 0.5703 - val_accuracy: 0.7221
Epoch 36/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5318 - accuracy: 0.7427 - val_loss: 0.5734 - val_accuracy: 0.7244
Epoch 37/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5321 - accuracy: 0.7440 - val_loss: 0.5717 - val_accuracy: 0.7242
Epoch 38/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5316 - accuracy: 0.7435 - val_loss: 0.5729 - val_accuracy: 0.7238
Epoch 39/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5322 - accuracy: 0.7439 - val_loss: 0.5721 - val_accuracy: 0.7238
Epoch 40/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5320 - accuracy: 0.7430 - val_loss: 0.5725 - val_accuracy: 0.7240
Epoch 41/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5322 - accuracy: 0.7446 - val_loss: 0.5749 - val_accuracy: 0.7232
Epoch 42/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5321 - accuracy: 0.7444 - val_loss: 0.5780 - val_accuracy: 0.7226
Epoch 43/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5316 - accuracy: 0.7445 - val_loss: 0.5745 - val_accuracy: 0.7238
Epoch 44/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5318 - accuracy: 0.7441 - val_loss: 0.5738 - val_accuracy: 0.7252
Epoch 45/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5319 - accuracy: 0.7434 - val_loss: 0.5722 - val_accuracy: 0.7240
Epoch 46/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5319 - accuracy: 0.7430 - val_loss: 0.5740 - val_accuracy: 0.7232
Epoch 47/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5319 - accuracy: 0.7434 - val_loss: 0.5724 - val_accuracy: 0.7238
Epoch 48/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5313 - accuracy: 0.7443 - val_loss: 0.5795 - val_accuracy: 0.7240
Epoch 49/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5322 - accuracy: 0.7440 - val_loss: 0.5745 - val_accuracy: 0.7242
Epoch 50/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5319 - accuracy: 0.7440 - val_loss: 0.5733 - val_accuracy: 0.7221

In [52]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5619 - accuracy: 0.7247 - 327ms/epoch - 1ms/step
Loss: 0.5618960857391357, Accuracy: 0.7246647477149963

In [54]:
nn.save("AlphabetSoupCharity_Optimization.h5")