## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(application_df[['EIN', 'NAME']], axis=1, inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
unique_counts = application_df.nunique()
unique_counts

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
APPLICATION_TYPE= application_df['APPLICATION_TYPE'].value_counts()
APPLICATION_TYPE

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value= 400
application_types_to_replace = APPLICATION_TYPE[APPLICATION_TYPE < cutoff_value].index.tolist()
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
CLASSIFICATION_COUNTS= application_df.CLASSIFICATION.value_counts()
CLASSIFICATION_COUNTS

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
CLASSIFICATION_COUNTS_e_1=CLASSIFICATION_COUNTS[CLASSIFICATION_COUNTS >1]
CLASSIFICATION_COUNTS_e_1.head()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value_classification = 1000
classifications_to_replace = CLASSIFICATION_COUNTS[CLASSIFICATION_COUNTS< cutoff_value_classification].index.tolist()
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_encoded = pd.get_dummies(application_df)
application_df_encoded.head()

,EIN,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,10520599,1,5000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,10531628,1,108590,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,10547893,1,5000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,10553066,1,6692,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,10556103,1,142590,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [11]:
# Split our preprocessed data into our features and target arrays
y= application_df_encoded["IS_SUCCESSFUL"].values
X= application_df_encoded.drop(["IS_SUCCESSFUL"], axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(25724, 19612) (8575, 19612) (25724,) (8575,)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=100, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               1961300

 dense_1 (Dense)             (None, 30)                3030

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 1,964,361
Trainable params: 1,964,361
Non-trainable params: 0
_________________________________________________________________

In [14]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100, validation_split=0.2)

Epoch 1/100
644/644 [==============================] - 11s 5ms/step - loss: 0.5109 - accuracy: 0.7574 - val_loss: 0.4695 - val_accuracy: 0.7831
Epoch 2/100
644/644 [==============================] - 3s 4ms/step - loss: 0.1251 - accuracy: 0.9544 - val_loss: 0.6335 - val_accuracy: 0.6741
Epoch 3/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0965 - accuracy: 0.9623 - val_loss: 0.6005 - val_accuracy: 0.6750
Epoch 4/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0920 - accuracy: 0.9620 - val_loss: 0.5251 - val_accuracy: 0.7380
Epoch 5/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0912 - accuracy: 0.9632 - val_loss: 0.5455 - val_accuracy: 0.7133
Epoch 6/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0900 - accuracy: 0.9622 - val_loss: 0.5223 - val_accuracy: 0.7399
Epoch 7/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0888 - accuracy: 0.9635 - val_loss: 0.5014 - val_accuracy: 0.7677
Epoch 8/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0888 - accuracy: 0.9631 - val_loss: 0.5563 - val_accuracy: 0.6997
Epoch 9/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0878 - accuracy: 0.9636 - val_loss: 1.1093 - val_accuracy: 0.5738
Epoch 10/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0867 - accuracy: 0.9639 - val_loss: 0.8824 - val_accuracy: 0.5811
Epoch 11/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0866 - accuracy: 0.9638 - val_loss: 0.9494 - val_accuracy: 0.5753
Epoch 12/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0860 - accuracy: 0.9642 - val_loss: 1.5406 - val_accuracy: 0.5736
Epoch 13/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0851 - accuracy: 0.9644 - val_loss: 1.6987 - val_accuracy: 0.5738
Epoch 14/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0849 - accuracy: 0.9644 - val_loss: 1.3830 - val_accuracy: 0.5740
Epoch 15/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0837 - accuracy: 0.9647 - val_loss: 1.0783 - val_accuracy: 0.5874
Epoch 16/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0834 - accuracy: 0.9647 - val_loss: 1.2558 - val_accuracy: 0.5784
Epoch 17/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0830 - accuracy: 0.9651 - val_loss: 0.6387 - val_accuracy: 0.7007
Epoch 18/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0827 - accuracy: 0.9653 - val_loss: 0.5886 - val_accuracy: 0.7409
Epoch 19/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0822 - accuracy: 0.9659 - val_loss: 0.6881 - val_accuracy: 0.6838
Epoch 20/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0818 - accuracy: 0.9657 - val_loss: 0.7451 - val_accuracy: 0.6756
Epoch 21/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0816 - accuracy: 0.9657 - val_loss: 0.7991 - val_accuracy: 0.6599
Epoch 22/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0810 - accuracy: 0.9661 - val_loss: 0.6317 - val_accuracy: 0.7384
Epoch 23/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0802 - accuracy: 0.9667 - val_loss: 0.6746 - val_accuracy: 0.7312
Epoch 24/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0799 - accuracy: 0.9668 - val_loss: 0.7971 - val_accuracy: 0.7020
Epoch 25/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0792 - accuracy: 0.9669 - val_loss: 0.7615 - val_accuracy: 0.7221
Epoch 26/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0790 - accuracy: 0.9675 - val_loss: 0.9300 - val_accuracy: 0.6855
Epoch 27/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0789 - accuracy: 0.9672 - val_loss: 0.7422 - val_accuracy: 0.7691
Epoch 28/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0782 - accuracy: 0.9678 - val_loss: 0.8168 - val_accuracy: 0.7172
Epoch 29/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0779 - accuracy: 0.9672 - val_loss: 0.8490 - val_accuracy: 0.7158
Epoch 30/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0776 - accuracy: 0.9677 - val_loss: 0.8680 - val_accuracy: 0.7796
Epoch 31/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0774 - accuracy: 0.9683 - val_loss: 0.8070 - val_accuracy: 0.7466
Epoch 32/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0769 - accuracy: 0.9683 - val_loss: 0.9745 - val_accuracy: 0.7755
Epoch 33/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0761 - accuracy: 0.9682 - val_loss: 0.9997 - val_accuracy: 0.7780
Epoch 34/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0763 - accuracy: 0.9682 - val_loss: 0.9219 - val_accuracy: 0.7603
Epoch 35/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0756 - accuracy: 0.9682 - val_loss: 1.0405 - val_accuracy: 0.7780
Epoch 36/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0755 - accuracy: 0.9682 - val_loss: 1.0008 - val_accuracy: 0.7646
Epoch 37/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0755 - accuracy: 0.9684 - val_loss: 1.0335 - val_accuracy: 0.7617
Epoch 38/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0746 - accuracy: 0.9690 - val_loss: 1.1150 - val_accuracy: 0.7732
Epoch 39/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0748 - accuracy: 0.9689 - val_loss: 1.1655 - val_accuracy: 0.7769
Epoch 40/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0744 - accuracy: 0.9691 - val_loss: 1.7509 - val_accuracy: 0.7911
Epoch 41/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0741 - accuracy: 0.9684 - val_loss: 1.4317 - val_accuracy: 0.7835
Epoch 42/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0739 - accuracy: 0.9691 - val_loss: 1.7118 - val_accuracy: 0.7907
Epoch 43/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0736 - accuracy: 0.9695 - val_loss: 1.6373 - val_accuracy: 0.7883
Epoch 44/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0738 - accuracy: 0.9692 - val_loss: 1.7051 - val_accuracy: 0.7891
Epoch 45/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0732 - accuracy: 0.9701 - val_loss: 1.4938 - val_accuracy: 0.7835
Epoch 46/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0727 - accuracy: 0.9697 - val_loss: 1.5148 - val_accuracy: 0.7726
Epoch 47/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0726 - accuracy: 0.9704 - val_loss: 1.9172 - val_accuracy: 0.7841
Epoch 48/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0725 - accuracy: 0.9700 - val_loss: 1.8840 - val_accuracy: 0.7846
Epoch 49/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0724 - accuracy: 0.9704 - val_loss: 2.1623 - val_accuracy: 0.7856
Epoch 50/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0721 - accuracy: 0.9703 - val_loss: 2.0833 - val_accuracy: 0.7845
Epoch 51/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0720 - accuracy: 0.9699 - val_loss: 2.3368 - val_accuracy: 0.7848
Epoch 52/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0714 - accuracy: 0.9703 - val_loss: 2.0685 - val_accuracy: 0.7806
Epoch 53/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0706 - accuracy: 0.9709 - val_loss: 2.0123 - val_accuracy: 0.7782
Epoch 54/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0720 - accuracy: 0.9705 - val_loss: 2.2946 - val_accuracy: 0.7856
Epoch 55/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0705 - accuracy: 0.9721 - val_loss: 1.9316 - val_accuracy: 0.7605
Epoch 56/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0709 - accuracy: 0.9705 - val_loss: 2.0076 - val_accuracy: 0.7549
Epoch 57/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0708 - accuracy: 0.9709 - val_loss: 2.0835 - val_accuracy: 0.7357
Epoch 58/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0703 - accuracy: 0.9706 - val_loss: 2.3838 - val_accuracy: 0.7158
Epoch 59/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0700 - accuracy: 0.9704 - val_loss: 2.2123 - val_accuracy: 0.7637
Epoch 60/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0701 - accuracy: 0.9710 - val_loss: 2.3466 - val_accuracy: 0.7252
Epoch 61/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0694 - accuracy: 0.9717 - val_loss: 2.5206 - val_accuracy: 0.7250
Epoch 62/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0690 - accuracy: 0.9718 - val_loss: 2.7076 - val_accuracy: 0.7193
Epoch 63/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0694 - accuracy: 0.9713 - val_loss: 2.5605 - val_accuracy: 0.7432
Epoch 64/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0689 - accuracy: 0.9718 - val_loss: 2.6645 - val_accuracy: 0.7384
Epoch 65/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0687 - accuracy: 0.9716 - val_loss: 2.8901 - val_accuracy: 0.7372
Epoch 66/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0691 - accuracy: 0.9713 - val_loss: 3.0937 - val_accuracy: 0.7279
Epoch 67/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0691 - accuracy: 0.9712 - val_loss: 4.4747 - val_accuracy: 0.7858
Epoch 68/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0685 - accuracy: 0.9718 - val_loss: 4.2141 - val_accuracy: 0.7839
Epoch 69/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0682 - accuracy: 0.9719 - val_loss: 3.9447 - val_accuracy: 0.7825
Epoch 70/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0685 - accuracy: 0.9718 - val_loss: 3.4614 - val_accuracy: 0.7736
Epoch 71/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0680 - accuracy: 0.9716 - val_loss: 4.6366 - val_accuracy: 0.7870
Epoch 72/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0681 - accuracy: 0.9716 - val_loss: 3.8671 - val_accuracy: 0.7808
Epoch 73/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0676 - accuracy: 0.9722 - val_loss: 4.2274 - val_accuracy: 0.7815
Epoch 74/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0674 - accuracy: 0.9718 - val_loss: 4.0996 - val_accuracy: 0.7763
Epoch 75/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0681 - accuracy: 0.9719 - val_loss: 5.9103 - val_accuracy: 0.7874
Epoch 76/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0673 - accuracy: 0.9722 - val_loss: 9.8156 - val_accuracy: 0.7885
Epoch 77/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0676 - accuracy: 0.9722 - val_loss: 9.3296 - val_accuracy: 0.7891
Epoch 78/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0671 - accuracy: 0.9727 - val_loss: 8.1098 - val_accuracy: 0.7887
Epoch 79/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0668 - accuracy: 0.9719 - val_loss: 7.5542 - val_accuracy: 0.7866
Epoch 80/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0667 - accuracy: 0.9723 - val_loss: 10.6782 - val_accuracy: 0.7897
Epoch 81/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0667 - accuracy: 0.9722 - val_loss: 10.2817 - val_accuracy: 0.7901
Epoch 82/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0663 - accuracy: 0.9722 - val_loss: 9.9560 - val_accuracy: 0.7891
Epoch 83/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0660 - accuracy: 0.9722 - val_loss: 8.4607 - val_accuracy: 0.7854
Epoch 84/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0662 - accuracy: 0.9726 - val_loss: 10.2487 - val_accuracy: 0.7905
Epoch 85/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0661 - accuracy: 0.9725 - val_loss: 8.8243 - val_accuracy: 0.7856
Epoch 86/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0659 - accuracy: 0.9721 - val_loss: 14.2160 - val_accuracy: 0.7879
Epoch 87/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0660 - accuracy: 0.9722 - val_loss: 11.6427 - val_accuracy: 0.7903
Epoch 88/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0659 - accuracy: 0.9729 - val_loss: 12.7092 - val_accuracy: 0.7893
Epoch 89/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0659 - accuracy: 0.9731 - val_loss: 11.6523 - val_accuracy: 0.7897
Epoch 90/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0658 - accuracy: 0.9720 - val_loss: 11.4664 - val_accuracy: 0.7893
Epoch 91/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0654 - accuracy: 0.9728 - val_loss: 13.1200 - val_accuracy: 0.7889
Epoch 92/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0650 - accuracy: 0.9726 - val_loss: 12.5532 - val_accuracy: 0.7893
Epoch 93/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0651 - accuracy: 0.9728 - val_loss: 10.8707 - val_accuracy: 0.7878
Epoch 94/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0654 - accuracy: 0.9727 - val_loss: 13.4412 - val_accuracy: 0.7879
Epoch 95/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0653 - accuracy: 0.9722 - val_loss: 11.7046 - val_accuracy: 0.7872
Epoch 96/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0647 - accuracy: 0.9728 - val_loss: 11.0393 - val_accuracy: 0.7876
Epoch 97/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0648 - accuracy: 0.9726 - val_loss: 9.1816 - val_accuracy: 0.7852
Epoch 98/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0652 - accuracy: 0.9731 - val_loss: 11.6297 - val_accuracy: 0.7883
Epoch 99/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0647 - accuracy: 0.9731 - val_loss: 12.9449 - val_accuracy: 0.7893
Epoch 100/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0643 - accuracy: 0.9727 - val_loss: 15.8137 - val_accuracy: 0.7887

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 1.0192 - accuracy: 0.6724 - 639ms/epoch - 2ms/step
Loss: 1.0191736221313477, Accuracy: 0.6724198460578918

In [19]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")