## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(application_df[['EIN', 'NAME']], axis=1, inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Determine the number of unique values in each column.
unique_counts = application_df.nunique()
unique_counts

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
APPLICATION_TYPE= application_df['APPLICATION_TYPE'].value_counts()
APPLICATION_TYPE

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value= 400
application_types_to_replace = APPLICATION_TYPE[APPLICATION_TYPE < cutoff_value].index.tolist()
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
CLASSIFICATION_COUNTS= application_df.CLASSIFICATION.value_counts()
CLASSIFICATION_COUNTS

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
CLASSIFICATION_COUNTS_e_1=CLASSIFICATION_COUNTS[CLASSIFICATION_COUNTS >1]
CLASSIFICATION_COUNTS_e_1.head()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value_classification = 1000
classifications_to_replace = CLASSIFICATION_COUNTS[CLASSIFICATION_COUNTS< cutoff_value_classification].index.tolist()
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_encoded = pd.get_dummies(application_df)
application_df_encoded.head()

,EIN,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,10520599,1,5000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,10531628,1,108590,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,10547893,1,5000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,10553066,1,6692,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,10556103,1,142590,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [ ]:
# Split our preprocessed data into our features and target arrays
y= application_df_encoded["IS_SUCCESSFUL"].values
X= application_df_encoded.drop(["IS_SUCCESSFUL"], axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(25724, 19612) (8575, 19612) (25724,) (8575,)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=80, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                1569040

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 1,571,501
Trainable params: 1,571,501
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100, validation_split=0.2)

Epoch 1/100
644/644 [==============================] - 10s 5ms/step - loss: 0.5334 - accuracy: 0.7392 - val_loss: 0.4697 - val_accuracy: 0.7804
Epoch 2/100
644/644 [==============================] - 2s 4ms/step - loss: 0.1278 - accuracy: 0.9538 - val_loss: 0.7160 - val_accuracy: 0.6301
Epoch 3/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0963 - accuracy: 0.9611 - val_loss: 0.6376 - val_accuracy: 0.6614
Epoch 4/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0933 - accuracy: 0.9621 - val_loss: 0.7298 - val_accuracy: 0.6305
Epoch 5/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0908 - accuracy: 0.9631 - val_loss: 0.6260 - val_accuracy: 0.6721
Epoch 6/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0900 - accuracy: 0.9632 - val_loss: 0.6976 - val_accuracy: 0.6424
Epoch 7/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0892 - accuracy: 0.9627 - val_loss: 0.8293 - val_accuracy: 0.6148
Epoch 8/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0883 - accuracy: 0.9635 - val_loss: 1.1184 - val_accuracy: 0.5887
Epoch 9/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0881 - accuracy: 0.9632 - val_loss: 1.3748 - val_accuracy: 0.5778
Epoch 10/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0877 - accuracy: 0.9638 - val_loss: 2.2656 - val_accuracy: 0.5734
Epoch 11/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0865 - accuracy: 0.9644 - val_loss: 2.2407 - val_accuracy: 0.5722
Epoch 12/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0865 - accuracy: 0.9633 - val_loss: 4.3579 - val_accuracy: 0.5718
Epoch 13/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0862 - accuracy: 0.9642 - val_loss: 5.5429 - val_accuracy: 0.5722
Epoch 14/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0856 - accuracy: 0.9641 - val_loss: 4.8722 - val_accuracy: 0.5736
Epoch 15/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0849 - accuracy: 0.9642 - val_loss: 5.8412 - val_accuracy: 0.5747
Epoch 16/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0835 - accuracy: 0.9654 - val_loss: 6.1216 - val_accuracy: 0.5747
Epoch 17/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0836 - accuracy: 0.9653 - val_loss: 5.9026 - val_accuracy: 0.5736
Epoch 18/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0827 - accuracy: 0.9660 - val_loss: 6.1261 - val_accuracy: 0.5734
Epoch 19/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0828 - accuracy: 0.9656 - val_loss: 6.5128 - val_accuracy: 0.5740
Epoch 20/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0822 - accuracy: 0.9653 - val_loss: 6.1012 - val_accuracy: 0.5728
Epoch 21/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0814 - accuracy: 0.9661 - val_loss: 6.8760 - val_accuracy: 0.5687
Epoch 22/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0814 - accuracy: 0.9662 - val_loss: 7.6039 - val_accuracy: 0.5749
Epoch 23/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0812 - accuracy: 0.9659 - val_loss: 7.8805 - val_accuracy: 0.5740
Epoch 24/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0804 - accuracy: 0.9667 - val_loss: 8.0986 - val_accuracy: 0.5745
Epoch 25/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0794 - accuracy: 0.9673 - val_loss: 9.4794 - val_accuracy: 0.5722
Epoch 26/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0796 - accuracy: 0.9669 - val_loss: 10.0662 - val_accuracy: 0.5751
Epoch 27/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0787 - accuracy: 0.9669 - val_loss: 10.8739 - val_accuracy: 0.5730
Epoch 28/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0788 - accuracy: 0.9677 - val_loss: 10.8309 - val_accuracy: 0.5728
Epoch 29/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0783 - accuracy: 0.9674 - val_loss: 11.0352 - val_accuracy: 0.5730
Epoch 30/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0771 - accuracy: 0.9687 - val_loss: 11.6552 - val_accuracy: 0.5749
Epoch 31/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0762 - accuracy: 0.9685 - val_loss: 11.9741 - val_accuracy: 0.5734
Epoch 32/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0769 - accuracy: 0.9678 - val_loss: 12.8489 - val_accuracy: 0.5740
Epoch 33/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0770 - accuracy: 0.9677 - val_loss: 13.1619 - val_accuracy: 0.5732
Epoch 34/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0759 - accuracy: 0.9688 - val_loss: 15.5686 - val_accuracy: 0.5730
Epoch 35/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0755 - accuracy: 0.9684 - val_loss: 17.3025 - val_accuracy: 0.5730
Epoch 36/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0753 - accuracy: 0.9690 - val_loss: 17.3808 - val_accuracy: 0.5724
Epoch 37/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0753 - accuracy: 0.9696 - val_loss: 17.5164 - val_accuracy: 0.5716
Epoch 38/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0748 - accuracy: 0.9686 - val_loss: 18.0211 - val_accuracy: 0.5734
Epoch 39/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0747 - accuracy: 0.9688 - val_loss: 17.6730 - val_accuracy: 0.5724
Epoch 40/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0739 - accuracy: 0.9704 - val_loss: 19.3862 - val_accuracy: 0.5749
Epoch 41/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0741 - accuracy: 0.9698 - val_loss: 20.9914 - val_accuracy: 0.5732
Epoch 42/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0738 - accuracy: 0.9692 - val_loss: 19.8189 - val_accuracy: 0.5738
Epoch 43/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0732 - accuracy: 0.9695 - val_loss: 20.6523 - val_accuracy: 0.5738
Epoch 44/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0731 - accuracy: 0.9699 - val_loss: 21.0846 - val_accuracy: 0.5730
Epoch 45/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0725 - accuracy: 0.9701 - val_loss: 23.1840 - val_accuracy: 0.5722
Epoch 46/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0726 - accuracy: 0.9697 - val_loss: 24.3393 - val_accuracy: 0.5720
Epoch 47/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0727 - accuracy: 0.9710 - val_loss: 23.9969 - val_accuracy: 0.5740
Epoch 48/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0716 - accuracy: 0.9708 - val_loss: 27.0600 - val_accuracy: 0.5720
Epoch 49/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0718 - accuracy: 0.9698 - val_loss: 24.2394 - val_accuracy: 0.5677
Epoch 50/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0714 - accuracy: 0.9712 - val_loss: 24.5084 - val_accuracy: 0.5714
Epoch 51/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0708 - accuracy: 0.9706 - val_loss: 26.5583 - val_accuracy: 0.5740
Epoch 52/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0710 - accuracy: 0.9705 - val_loss: 28.3237 - val_accuracy: 0.5730
Epoch 53/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0710 - accuracy: 0.9707 - val_loss: 24.8148 - val_accuracy: 0.5728
Epoch 54/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0712 - accuracy: 0.9705 - val_loss: 25.2334 - val_accuracy: 0.5724
Epoch 55/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0705 - accuracy: 0.9704 - val_loss: 26.2573 - val_accuracy: 0.5722
Epoch 56/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0700 - accuracy: 0.9710 - val_loss: 29.0263 - val_accuracy: 0.5724
Epoch 57/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0696 - accuracy: 0.9714 - val_loss: 28.6261 - val_accuracy: 0.5722
Epoch 58/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0698 - accuracy: 0.9710 - val_loss: 28.3724 - val_accuracy: 0.5724
Epoch 59/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0696 - accuracy: 0.9713 - val_loss: 31.1410 - val_accuracy: 0.5741
Epoch 60/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0695 - accuracy: 0.9708 - val_loss: 27.6781 - val_accuracy: 0.5716
Epoch 61/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0697 - accuracy: 0.9706 - val_loss: 30.6537 - val_accuracy: 0.5726
Epoch 62/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0689 - accuracy: 0.9718 - val_loss: 30.4863 - val_accuracy: 0.5732
Epoch 63/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0688 - accuracy: 0.9718 - val_loss: 31.1095 - val_accuracy: 0.5728
Epoch 64/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0685 - accuracy: 0.9719 - val_loss: 32.7269 - val_accuracy: 0.5724
Epoch 65/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0695 - accuracy: 0.9713 - val_loss: 30.8682 - val_accuracy: 0.5732
Epoch 66/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0683 - accuracy: 0.9718 - val_loss: 31.7230 - val_accuracy: 0.5740
Epoch 67/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0684 - accuracy: 0.9720 - val_loss: 35.2358 - val_accuracy: 0.5736
Epoch 68/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0684 - accuracy: 0.9720 - val_loss: 34.2125 - val_accuracy: 0.5720
Epoch 69/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0681 - accuracy: 0.9726 - val_loss: 32.7654 - val_accuracy: 0.5728
Epoch 70/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0678 - accuracy: 0.9714 - val_loss: 33.5402 - val_accuracy: 0.5732
Epoch 71/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0674 - accuracy: 0.9720 - val_loss: 37.5365 - val_accuracy: 0.5730
Epoch 72/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0677 - accuracy: 0.9717 - val_loss: 31.5311 - val_accuracy: 0.5749
Epoch 73/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0676 - accuracy: 0.9725 - val_loss: 38.3024 - val_accuracy: 0.5724
Epoch 74/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0672 - accuracy: 0.9727 - val_loss: 40.2222 - val_accuracy: 0.5726
Epoch 75/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0673 - accuracy: 0.9722 - val_loss: 35.8017 - val_accuracy: 0.5726
Epoch 76/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0669 - accuracy: 0.9729 - val_loss: 39.5173 - val_accuracy: 0.5722
Epoch 77/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0667 - accuracy: 0.9723 - val_loss: 39.8824 - val_accuracy: 0.5743
Epoch 78/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0670 - accuracy: 0.9726 - val_loss: 41.1431 - val_accuracy: 0.5732
Epoch 79/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0665 - accuracy: 0.9722 - val_loss: 39.8957 - val_accuracy: 0.5726
Epoch 80/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0668 - accuracy: 0.9724 - val_loss: 40.3133 - val_accuracy: 0.5728
Epoch 81/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0662 - accuracy: 0.9725 - val_loss: 42.2147 - val_accuracy: 0.5732
Epoch 82/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0663 - accuracy: 0.9726 - val_loss: 37.9718 - val_accuracy: 0.5722
Epoch 83/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0662 - accuracy: 0.9724 - val_loss: 43.6901 - val_accuracy: 0.5714
Epoch 84/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0663 - accuracy: 0.9723 - val_loss: 37.3019 - val_accuracy: 0.5734
Epoch 85/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0665 - accuracy: 0.9724 - val_loss: 40.5447 - val_accuracy: 0.5732
Epoch 86/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0657 - accuracy: 0.9726 - val_loss: 42.7148 - val_accuracy: 0.5716
Epoch 87/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0659 - accuracy: 0.9718 - val_loss: 40.7839 - val_accuracy: 0.5741
Epoch 88/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0657 - accuracy: 0.9727 - val_loss: 43.9673 - val_accuracy: 0.5730
Epoch 89/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0657 - accuracy: 0.9730 - val_loss: 40.4674 - val_accuracy: 0.5736
Epoch 90/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0653 - accuracy: 0.9731 - val_loss: 44.9915 - val_accuracy: 0.5730
Epoch 91/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0656 - accuracy: 0.9721 - val_loss: 42.7279 - val_accuracy: 0.5724
Epoch 92/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0650 - accuracy: 0.9739 - val_loss: 43.2046 - val_accuracy: 0.5722
Epoch 93/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0655 - accuracy: 0.9736 - val_loss: 43.6173 - val_accuracy: 0.5718
Epoch 94/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0648 - accuracy: 0.9730 - val_loss: 35.8478 - val_accuracy: 0.5728
Epoch 95/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0646 - accuracy: 0.9734 - val_loss: 48.5769 - val_accuracy: 0.5708
Epoch 96/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0654 - accuracy: 0.9735 - val_loss: 46.6785 - val_accuracy: 0.5736
Epoch 97/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0644 - accuracy: 0.9735 - val_loss: 44.7512 - val_accuracy: 0.5724
Epoch 98/100
644/644 [==============================] - 2s 4ms/step - loss: 0.0646 - accuracy: 0.9732 - val_loss: 41.0857 - val_accuracy: 0.5716
Epoch 99/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0646 - accuracy: 0.9729 - val_loss: 45.4198 - val_accuracy: 0.5730
Epoch 100/100
644/644 [==============================] - 3s 4ms/step - loss: 0.0646 - accuracy: 0.9732 - val_loss: 48.1654 - val_accuracy: 0.5724

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 1.0465 - accuracy: 0.7085 - 574ms/epoch - 2ms/step
Loss: 1.0465219020843506, Accuracy: 0.7084547877311707

In [ ]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")